<div class="section-title" id="budget">

    <div class="grid-container grid-x grid-margin-y">
        <div class="cell medium-6 medium-offset-3">
            <img src="assets/img/elements_graphiques/perso_multiples4.png" alt="">
        </div>
        <div class="cell medium-6 medium-offset-3">
            <h1 class="section-header">Budget</h1>
        </div>
        <div class="cell medium-6 medium-offset-3">
            <p class="text-white text-center"><strong>Voici la répartition des dépenses par grande famille.</strong></p>
            <p class="text-center hide-for-medium">(Faites défiler horizontalement pour voir le contenu)</p>

            <div class="table-scroll">
                <table class="table-white unstriped">
                    <thead>
                        <tr>
                            <td>2018</td>
                            <td class="text-right"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rémunération</td>
                            <td class="text-right">870 000 $</td>
                        </tr>
                        <tr>
                            <td>Avantages sociaux</td>
                            <td class="text-right">140 000 $</td>
                        </tr>
                        <tr>
                            <td>Transports et communications</td>
                            <td class="text-right">130 000 $</td>
                        </tr>
                        <tr>
                            <td>Services professionnels et administratifs</td>
                            <td class="text-right">950 000 $</td>
                        </tr>
                        <tr>
                            <td>Location et entretien</td>
                            <td class="text-right">340 000 $</td>
                        </tr>
                        <tr>
                            <td>Biens non durables</td>
                            <td class="text-right">40 000 $</td>
                        </tr>
                        <tr>
                            <td class="text-uppercase">Total</td>
                            <td class="text-right">2 470 000 $</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="grid-container margin-vertical-3">

    <p>Conformément à la Charte de la Ville de Montréal, le conseil municipal met à la disposition de l’Office les sommes nécessaires à la réalisation de son mandat. En vertu des articles 83 et 89 de la Charte, l’Office est tenu de mener toutes les consultations qui lui sont demandées par le comité exécutif ou le conseil municipal. Les états financiers de l’Office sont vérifiés par le bureau du vérificateur général de la Ville et sont présentés au conseil municipal.</p>

    <p>En 2018, le nombre de mandats reçus et le niveau des diverses activités de l’Office ont fait en sorte que les sommes affectées en début d’année dans le cadre du budget annuel de la Ville se sont avérées insuffisantes pour réaliser tous les mandats. En conséquence, le comité exécutif a accordé à l’Office des crédits additionnels de 650K, tel que le prévoit l’article 82 de la Charte de la Ville de Montréal. C’est la deuxième fois depuis 2013 que des crédits additionnels sont requis en cours d’année, mais la sixième fois dans l’histoire de l’Office. Cependant, un certain nombre de projets de consultation n’ont pas été entrepris en 2018 à cause de retards dans la production de documents de base par la Ville. En conséquence, une portion importante des crédits supplémentaires n’a pas été utilisée.</p>

</div>
