<div id="chiffres" class="padding-vertical-3 position-relative">
    <img src="assets/img/elements_graphiques/perso_multiples2.png" alt="" id="image-centered">
    <div class="margin-left-3" id="titre-chiffres"><span class="number">2018</span><br><span style="color:#234095; font-size: 3.2rem; font-weight: bold; line-height: 1em;">EN CHIFFRES</span></div>

    <div class="text-center stats" id="stat1">
        <span class="small-number text-uppercase">Plus de</span><br><span class="number">24 450</span><br><span class="number-text show-for-medium-down">Participations à une activité de consultation</span><br><span class="small-number">en personne ou en ligne</span>
    </div>

    <div class="text-center stats" id="stat2">
        <span class="number">2 225</span><br><span class="number-text">opinions présentées aux commissions</span><br><span class="small-number">orales et écrites, exprimées sur notre site ou par dépôt de mémoire</span>
    </div>

    <div class="text-center stats" id="stat3">
        <span class="number">45 000</span><br><span class="number-text show-for-large">visiteurs du site<br>Internet</span>
        <span class="number-text hide-for-large">visiteurs du site Internet</span>
    </div>

    <div class="text-center stats" id="stat4">
        <span class="number">4 369</span><br><span class="number-text">visionnements en direct ou en différé des webdiffusions des séances d’information</span>
    </div>

    <div class="text-center stats" id="stat5">
        <span class="small-number text-uppercase">Plus de</span><br><span class="number">6 000</span><br><span class="number-text show-for-medium">citoyens ou<br>organismes<br>abonnés à nos<br>infolettres</span>
        <span class="number-text hide-for-medium">citoyens ou organismes abonnés à nos infolettres</span>
    </div>
</div>
