<div id="credit">
    <div class="grid-container">
      <h3 class="text-center text-black margin-bottom-3">Liste des employés et collaborateurs</h3>
      <img class="margin-bottom-3" src="assets/img/images/OPTIMISE-Groupe8754-RA-2018.jpg">
      <div class="grid-x grid-margin-x">
        <div class="cell auto">
          <h3>Production</h3>
          <p>
              <strong>Coordination de la rédaction</strong>
          </p>
          <p>
              Luc Doray
          </p>
          <p>
              <strong>Collaboration à la rédaction</strong>
          </p>
          <ul type="disc">
              <li>
                  Louis-Alexandre Cazal
              </li>
              <li>
                  Luc Doray
              </li>
              <li>
                  Anik Pouliot
              </li>
              <li>
                  Gilles Vézina
              </li>
          </ul>
      <p>
          <strong>Révision</strong>
      </p>
      <p>
          Lizon Levesque
      </p>
      <p>
          <strong>Traduction</strong>
      </p>
      <p>
          Joanne Gibbs
      </p>
      <p>
          <strong>Photographies</strong>
      </p>
      <ul type="disc">
          <li>
              Josée Lecompte
          </li>
          <li>
              Frédéric Tougas
          </li>
          <li>Sylvie Trépanier</li>
      </ul>
      <p>
          <strong>Conception graphique</strong>
      </p>
      <p>Sextans</p>

    </div>
    <div class="cell auto">
      <h3>
          Employés
      </h3>
      <ul>
        <li>
            Brunelle-Amélie Bourque
        </li>
          <li>
              Louis-Alexandre Cazal
          </li>
          <li>
              Luc Doray
          </li>
          <li>
              Élisabeth Doyon
          </li>
          <li>
              Lizon Levesque
          </li>
          <li>
              Élise Naud
          </li>
          <li>
              Faustin Nsabimana
          </li>
          <li>
              Anik Pouliot
          </li>
          <li>
              Gilles Vézina
          </li>
      </ul>
      <h3>
        Collaborateurs
      </h3>

     <div class="grid-x"> <div class="cell medium-6">
      <ul>
                    <li>
                        Matthieu Bardin
                    </li>
                    <li>
                        Estelle Beaudry
                    </li>
                    <li>
                        Alain Benoit
                    </li>
                    <li>Juliano Bosa</li>
                    <li>
                        Hadrien Chénier-Marais
                    </li>
                    <li>Joanne Gibbs</li>
                    <li>Pierre Goyer</li>
                    <li>
                        Guy Grenier
                    </li>
                    <li>
                        Laurent Maurice Lafontant
                    </li>
                    <li>Marc-André Lapointe</li>
                    <li>Marilena Liguori</li>
                    <li>Haru Greco-Lio</li>
                    <li>
                        Christelle Lollier-Théberge
                    </li>

                  </ul>
                  </div>
               <div class="cell medium-6">
                <ul><li>Patrick Marais</li>
                              <li>
                                  Denise Mumporeze
                              </li>
                              <li>
                                  Caio Pâques Lucon
                              </li>
                              <li>
                                  Olivier Rinfret
                              </li>
                              <li>Vincent Roy</li>
                              <li>
                                  Joseph Tchinda Kenfo
                              </li>
                              <li>
                                  Marie-Odile Trépanier
                              </li>
                              <li>
                                  Guillaume Turgeon
                              </li>
                              <li>
                                  Nicole Uwimana
                              </li>
                              <li>
                                  Akos Verboczy
                              </li>
                              <li>
                                  Stéfanie Wells
                              </li>
                              <li>Mohamed-Ali Yanouri</li>
                          </ul></div></div>
      </div>
    </div>

    </div>

  </div>

  <div id="legal">
          <div class="grid-container">
            <div class="text-center">
              <h4 class="text-black">Mentions légales</h4>
              <p>Dépôt légal - Bibliothèque et archives nationales du Québec, 2019 <br> Dépôt légal - Bibliothèque et archives, Canada 2019</p>
              <p>ISBN 978-2-924750-49-0 (imprimé) <br> ISBN 978-2-924750-48-3 (PDF)</p>
              <p>Version électronique disponible sur le site Internet&nbsp;: <a href="http://www.ocpm.qc.ca/">www.ocpm.qc.ca</a></p>
              <p>English paper version available upon request <br> English PDF available on the Internet website</p>
            </div>
          </div>
        </div>
