<header class="position-relative">

  <div id="logo_OCPM">
    <a href="http://ocpm.qc.ca" target="_blank"><img src="assets/img/images/logo_OCPM.png" style="height:4em"></a>
</div>
<div id="nav-buttons">

        <a class="button-lavender" href="http://ocpm.qc.ca/sites/ocpm.qc.ca/files/pdf/publications/fr/rapport_annuel_2018-fr.pdf" target="_blank">PDF</a>
        <a class="button-lavender large" href="http://report2018.ocpm.qc.ca">EN</a>

</div>
  <div style="" id="maintitle">
      <img src="assets/img/images/rapport_annuel.png" alt=""><img src="assets/img/images/2018.png" alt="">
  </div>
  <img src="assets/img/images/cover_transparent_gros.png" alt="" id="coverpicture">
</header>


