<div class="grid-container margin-vertical-3">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            <p class="text-left"><img src="assets/img/elements_graphiques/bulle_mission.png" alt="" class="left80"></p>
             <p>Créé par l’article 75 de la Charte de la Ville de Montréal, l’Office de consultation publique de Montréal a pour mission de réaliser des mandats de consultation publique relativement aux différentes compétences municipales en urbanisme et en aménagement du territoire, et à tout projet désigné par le conseil municipal ou le comité exécutif.
             </p>
        </div>
        <div class="cell medium-6">
            <p class="text-right"><img src="assets/img/elements_graphiques/bulle_mandat.png" alt="" class="right80"></p>
            <p>Organisme indépendant dont les membres ne sont ni des élus ni des employés municipaux, l’Office de consultation publique de Montréal, établi depuis septembre 2002, reçoit ses mandats du conseil municipal et du comité exécutif.
            </p>
        </div>
    </div>
 </div>
