<div>
    <img src="assets/img/elements_graphiques/ville_mtl.jpg" alt="" width="100%">
</div>
<div class="section-title" id="remerciements">
    <h1 class="section-header">Remerciements</h1>
    <div class="grid-container">
        <div class="padding-3 lettre cell medium-8">
            <p>L’Office de consultation publique de Montréal (OCPM) tient à remercier tous ses collaborateurs pour leur contribution à la promotion des activités de l’Office en 2018.</p>

            <p>L’OCPM profite également de l’occasion pour remercier les groupes, organismes, citoyens, fonctionnaires et promoteurs qui ont participé aux diverses consultations publiques.</p>

            <p>Les séances de consultation publique tenues par l’Office ont connu un franc succès grâce à l’engagement de tous les employés, professionnels, cadres et élus des arrondissements et des services centraux qui ont apporté leur aide et expertise pour assister les citoyens et les commissaires dans la compréhension des projets et des enjeux.</p>

            <p>Sans la bonne volonté de tous, les consultations publiques de l’OCPM n’auraient pas atteint leur objectif premier de transmettre l’information et les données pertinentes sur les divers projets aux Montréalaises et aux Montréalais, en vue de recueillir leurs opinions et leurs commentaires.</p>
        </div>
    </div>
</div>
